body{
    color: white;
    margin: 0;
}

header h3{
    text-align: start;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #1F2937;
    padding: 40px 40px
}

.topnav{
    
    overflow: hidden;
    margin:auto;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 22px;
    font-size: 16px;

}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.one{
    background-color: #04AA6D;
    color: white;
}

main{
    background-color: white;
    color: black;
}

main h3{
    text-align: center;
}

.div_items{
    text-align: center;
    width: 1000px;
    margin: 100px auto;
    padding-bottom: 800px;
}
.item{
    text-align: center;
    padding-bottom: 20px;
}

footer{
    background-color:#1F2937 ;
    padding: 50px 50px;
    margin-top: 20px;
}